<div class="ab-bg-base ab-rounded-md ab-border ab-flex ab-flex-justify-center ab-py-12 ab-mb-16">
  <p class="ab-text-body-m">
    eGift Systemは、「ありがとう」や「おめでとう」の気持ちに<br>
    ギフト券を添えて贈ることができるサービスです。<br>
    ちょっとした感謝の気持ちを気軽に贈れます。
  </p>
</div>
