<section class="ab-bg-rest-primary ab-rounded-lg ab-border ab-p-6 ab-text-center">
  <!-- 商品画像 -->
  <div class="ab-mb-6">
    <% if @ticket.item.image.attached? %>
      <%= image_tag @ticket.item.image, alt: @ticket.item.name, class: "ab-w-100 ab-h-100 ab-rounded-lg" %>
    <% else %>
      <div class="ab-w-100 ab-h-100 ab-rounded-lg ab-flex ab-items-center">
        <span>画像なし</span>
      </div>
    <% end %>
  </div>

  <!-- ギフトコード -->
  <div class="ab-mb-6">
    <p class="ab-text-body-m ab-font-bold ab-mb-2">ギフトコード</p>
    <section class="ab-bg-rest-accent ab-rounded-lg ab-p-4">
      <h2 class="ab-text-headline-m ab-font-bold"><%= @ticket.content %></h2>
    </section>
  </div>

  <!-- 商品名 -->
  <div class="ab-mb-4">
    <h2 class="ab-text-headline-m ab-font-bold"><%= @ticket.item.name %></h2>
  </div>

  <!-- 価格 -->
  <div>
    <h2 class="ab-text-headline-m ab-font-bold"><%= number_with_delimiter(@ticket.item.price) %>円</h2>
  </div>
</section>
