<% content_for :page_title, "ダッシュボード" %>

<div class="row">
  <div class="col-12">
    <div class="alert alert-info">
      <h4 class="alert-heading">eGift CMS</h4>
      <p class="mb-0">こちらはeGift CMSのダッシュボードです。左側のメニューから各機能にアクセスできます。</p>
    </div>
  </div>
</div>
