<% content_for :page_title, "ダッシュボード" %>

<div class="row">
  <div class="col-12">
    <div class="alert alert-info">
      <p class="mb-0">こちらはeGift CMSのダッシュボードです。左側のメニューから各機能にアクセスできます。</p>
      <hr>
      <p class="mb-0">
        <%= link_to "eGift販売サイトを開く", "https://egifts.jp", class: "btn btn-primary", target: "_blank" %>
      </p>
    </div>
  </div>
</div>
