<div class="ab-bg-base ab-rounded-md ab-border ab-flex ab-flex-justify-center ab-p-12 ab-mb-12">
  <p class="ab-text-body-m">
    eGiftは、「ありがとう」や「おめでとう」の気持ちに<br>
    ギフト券を添えて贈ることができるサービスです。<br>
    ちょっとした感謝の気持ちも、気軽に届けられます。
  </p>
</div>
