<div class="ab-flex ab-flex-row ab-items-center ab-border-t ab-p-4">
  <span class="ab-text-body-s">© giftee Inc. All Rights Reserved.</span>
  
  <div class="ab-flex ab-flex-row ab-flex-1 ab-flex-justify-end ab-gap-4">
    <%= link_to "利用規約", "", class: "ab-text-body-s ab-LinkText" %>
    <%= link_to "プライバシーポリシー", "", class: "ab-text-body-s ab-LinkText" %>
    <%= link_to "特定商取引法に基づく表示", "", class: "ab-text-body-s ab-LinkText" %>
  </div>
</div>
