<div class="ab-flex ab-flex-row ab-items-center ab-py-6">
  <%= link_to "eGift 販売サイト", egifts_root_path, class: "ab-text-headline-l ab-font-bold ab-LinkText ab-LinkText-quiet" %>
  
  <div class="ab-flex ab-flex-row ab-flex-1 ab-flex-justify-end ab-gap-6">
    <%= link_to "ホーム", egifts_root_path, class: "ab-text-headline-s ab-font-bold ab-LinkText" %>
    <%= link_to "FAQ", "", class: "ab-text-headline-s ab-font-bold ab-LinkText" %>
    <%= link_to "購入履歴", "", class: "ab-text-headline-s ab-font-bold ab-LinkText" %>
  </div>
</div>
