<section class="ab-flex ab-flex-column ab-mb-16">
  <h2 class="ab-text-headline-l ab-font-bold ab-mb-8 ab-flex ab-flex-justify-center"><%= title %></h2>

  <div class="ab-flex ab-flex-row ab-gap-4">
    <% steps.each_with_index do |step, index| %>
      <section class="ab-bg-rest-secondary ab-rounded-md ab-p-8 ab-flex-1">
        <div class="ab-flex ab-flex-column ab-items-center">
          <div class="ab-flex ab-flex-column ab-h-72">
            <h2 class="ab-text-headline-m ab-font-bold ab-mt-4"><%= step[:title] %></h2>
            <span class="ab-text-body-m"><%= step[:description] %></span>
          </div>
          <%= image_tag step[:image], alt: step[:title], class: "ab-w-128 ab-h-128" %>
        </div>
      </section>
    <% end %>
  </div>
</section>
