<aside class="ab-flex ab-flex-column ab-items-center ab-border-r ab-min-h-screen ab-position-fixed" style="width: 300px;">
  <div class="ab-px-4 ab-py-20">
    <h1 class="ab-text-headline-l ab-font-bold ab-text-center">eGift 管理画面</h2>
  </div>

  <ul class="ab-Menu ab-w-full ab-px-2" role="menu">
    <%= render 'layouts/admins/sidebar_item', path: admins_root_path, active_controller: 'top', label: 'ダッシュボード' %>
    <%= render 'layouts/admins/sidebar_item', path: admins_items_path, active_controller: 'items', label: '商品管理' %>
  </ul>
</aside>
