<%#
引数：errors
%>

<% flash.each do |key, message| %>
  <% alert_class = case key.to_sym
    when :alert  then "ab-InlineAlert-negative"
    when :notice then "ab-InlineAlert-positive"
    else "ab-InlineAlert-info"
  end %>
  <div class="ab-InlineAlert <%= alert_class %> ab-my-4">
    <div class="ab-InlineAlert-description"><%= message %></div>
  </div>
<% end %>

<% if errors.try(:full_messages).present? %>
  <% errors.try(:full_messages).each do |message| %>
    <div class="ab-InlineAlert ab-InlineAlert-negative ab-my-4">
      <div class="ab-InlineAlert-description"><%= message %></div>
    </div>
  <% end %>
<% end %>
